*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* body{height: 100vh;} */
.app{
  background-image: url('1.jpg');
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-size: cover;
  /* filter: blur(10px); */
  display: grid;
place-items: center;
}
.per{
  color: rgb(255, 255, 255);
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 2.4rem;
}